@model Food_Scape.Models.FsUser

@{
    ViewData["Title"] = "Details";
}
<div class="h-100 d-flex align-items-center">
    <div class="col-11 mx-auto">
        <h1 class="text-center">User Details</h1>
        <hr />
        <dl class="col-sm-3 row mx-auto">
            <dt class="col-sm-5">
                User ID
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.UserId)
            </dd>
            <dt class="col-sm-5">
                First Name
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-5">
                Last Name
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-5">
                Email
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        <div class="col-sm-3 mx-auto d-flex justify-content-between h4">
            <a asp-action="Index" asp-controller="User">Back to User List</a>
            <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a>
        </div>
    </div>

</div>

